#search-page {
  background-color: white;
  width: 80%;
  padding: 20px;
  justify-content: center;
}

#search-results {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.placeholder {
  margin: 20px;
  padding: 20px;
  height: 100%;
  width: 100%;
  justify-content: center;
  background-color: rgb(230, 228, 228);
  color: gray;
  border-radius: 10px;
  justify-self: center;
}
