#nav-bar-links {
  grid-template-columns: repeat(3, 1fr);
  justify-content: start;
  height: fit-content;
  width: 100%;
  text-align: center;
  position: absolute;
  min-width: 160px;
  box-shadow: 1px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 20px;
  background-color: black;
  color: black;
  box-shadow: 1px 1px 5px 1px #395584;
}

#dropdown-menu.opened #nav-bar-links:after {
  content: "";
  position: absolute;
  left: 10px;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 8px solid black;
}

#nav-bar a {
  text-decoration: none;
  color: white;
  font-size: large;
  font-weight: bold;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.menu-link {
  height: 80px;
  width: 100%;
}

.active-tab {
  filter: brightness(150%);
}
.inactive-tab {
  color: rgb(51 69 103) !important;
}
#nav-bar-links > a.inactive-tab:hover {
  filter: brightness(150%);
}

#main-links > a {
  color: white;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  #nav-bar a {
    font-size: medium;
  }
}
